<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/tiny-admin">Admin</a></li>
    <li class="breadcrumb-item"><a href="/tiny-admin">Posts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Post</li>
  </ol>
</nav>
<div class="row">

  <div class="col-9 border-end">
  
    <form action="/submit-article" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">
  
        <div class="col-12">
          <label for="email" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control">
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label">Body</label>
          <!-- <textarea>post body here</textarea> -->
          <textarea name="body" id="body" class="form-control"></textarea>
        </div>
        <div class="col-12">
          <label for="category">Select Category</label>
          <select class="form-select form-control" name="category" aria-label="Category">
            <option selected>Select Category</option>
            <% if(categories !== 'undefined'){ %>
              <% categories.forEach(category => { %>  
              <option value="<%= category.name %>"><%= category.name %> </option>
            <% }) %> 
            <% } %> 
          </select>
        </div>
        <!-- <div class="col-12">
          <label for="image">Post Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div> -->
  
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Publish</button>
        </div>
  
      </div>
    
    </form>
  
  </div>
  <div class="col-3">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Tiny is a blog app.</p>
      </div>
    </div>
  </div>
</div>
