// ====== Footer Area Start ======
footer
  .footer-widgets-area
    .container.container-1360
      .row
        .col-lg-3.col-sm-6
          .widget.address-widget
            h4.widget-title Our Address
            p
              | Sydney, Australia Sheen Darus Salam. 
              br
              |  112/B, Road 8A, Dhanmondi.
            p
              | +880-036987458765521 
              br
              |  example@yourmail.com
        .col-lg-2.col-sm-6
          .widget.nav-widget
            h4.widget-title Quick Links
            ul
              li
                a(href='#') About Us
              li
                a(href='#') Contact Us
              li
                a(href='#') Careers
              li
                a(href='#') Services
              li
                a(href='#') Stories
        .col-lg-2.col-sm-6
          .widget.nav-widget
            h4.widget-title Categories
            ul
              li
                a(href='#') Lifestyle
              li
                a(href='#') Travel
              li
                a(href='#') Food &amp; Drinks
              li
                a(href='#') Inspiration
              li
                a(href='#') Decoration
        .col-lg-4.col-sm-6.ml-auto
          .widget.newsletter-widget
            h4.widget-title Our Monthly Newsletter 
            p
              | Sign Up TO Get Updates On Articles, Interviews And Events.
            form(action='#')
              input(type='email' placeholder='your email')
              button(type='submit') Sign Up
  .footer-copyright-area
    .container.container-1360
      .row.align-items-center
        .col-lg-6.col-12
          .social-links
            ul
              li.title Follow Me
              li
                a(href='#') Twitter
              li
                a(href='#') Facebook
              li
                a(href='#') Youtube
              li
                a(href='#') Instagram
              li
                a(href='#') Linkedin
        .col-lg-6.col-12
          .copyright-text.text-lg-right
            p
              span Copyright
              |  - 2020 EasyArt theme by Easygoods
// ====== Footer Area End ======