// ====== Header part start ======
header.sticky-header
  .container-fluid
    .d-flex.align-items-center.justify-content-between
      .site-logo
        a(href='index.html')
          img(src='/img/logo.png' alt='Genial')
      .header-right
        .search-area
          a.search-btn(href='javascript:void(0)')
            i.fas.fa-search
          .search-form
            a.search-close(href='#')
              i.fal.fa-times
            form(action='#')
              input(type='search' placeholder='Type here to search')
            .search-overly
        .offcanvas-panel
          a.panel-btn(href='javascript:void(0)')
            span
              span
              span
              span
          .panel-overly
          .offcanvas-items
            // Navbar Toggler
            a.panel-close(href='javascript:void(0)')
              | Back 
              i.fa.fa-angle-right(aria-hidden='true')
            ul.offcanvas-menu
              li
                a(href='/') Home
              li
                a(href='/about') About Tiny
              li
                a(href='/contact') Contact
              li
                a(href='/login') Login
              li
                a(href='/signup') Sign Up
              li
                a(href='/user') username
                ul.submenu
                  li
                    a(href='product-details.html') My Posts
                  li
                    a(href='product-details.html') Update Password
                  li
                    a(href='product-details-2.html') Update My Details
                  li
                    a(href='myaccount.html') Logout
            .social-icons
              ul
                li
                  a(href='#')
                    i.fab.fa-facebook-f
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
                li
                  a(href='#')
                    i.fab.fa-youtube
// ====== Header part end ======