// ====== Instagram Area Start ======
section.instagram-section
  .container-fluid.p-0
    h5.instagram-title
      | Follow Us 
      span.instagram-icon
        i.fab.fa-instagram
      |  Instagram
    .instagram-images
      .image
        img(src='/img/instagram/01.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/02.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/03.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/04.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/05.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/06.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/07.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/01.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/02.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/03.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/04.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/05.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/06.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
      .image
        img(src='/img/instagram/07.jpg' alt='Instagram-image')
        a.instagram-link(href='#')
          i.fab.fa-instagram
// ====== Instagram Area End ======