.primary-sidebar.clearfix
        .sidebar-masonary.row
          .col-lg-12.col-sm-6.widget.author-widget
            .author-img
              img(src='/img/sidebar/author.jpg' alt='Post-Author')
            h5.widget-title I am a Bloger
            p
              | When it comes to creating is a website for your business, an attractive design will only
              | get you far,...
            .author-signature
              img(src='/img/sidebar/author-signature.png' alt='Signature')
          .col-lg-12.col-sm-6.widget.categories-widget
            h5.widget-title Categories
            .categories
              each item in categories
                .categorie(style='background-image: url(/img/sidebar/cat/01.jpg);')
                  a(href='#')= item.name
          .col-lg-12.col-sm-6.widget.social-widget
            h5.widget-title Subscribe
            .social-links
              a(href='#')
                i.fab.fa-facebook-f
                | Facebook
              a(href='#')
                i.fab.fa-twitter
                | Twitter
              a(href='#')
                i.fab.fa-instagram
                | Instagram
              a(href='#')
                i.fab.fa-youtube
                | YouTube
              a(href='#')
                i.fab.fa-pinterest-p
                | Pinterest
          .col-lg-12.col-sm-6.widget.popular-articles
            h5.widget-title Popular Articles
            .articles
              .article
                .thumb
                  img(src='/img/sidebar/articles/01.jpg' alt='Image')
                .desc
                  h6
                    a(href='blog-details.html') Best Wordpress Theme of 2018
                  span.post-date Audust 23, 2015
              .article
                .thumb
                  img(src='/img/sidebar/articles/02.jpg' alt='Image')
                .desc
                  h6
                    a(href='blog-details.html')
                      | Dating While Studying Abroad&mdash;Maximize Fun
                      | Minimize Heartbreak
                  span.post-date Audust 23, 2015
              .article
                .thumb
                  img(src='/img/sidebar/articles/03.jpg' alt='Image')
                .desc
                  h6
                    a(href='blog-details.html') Nature Photography Best Place Focus
                  span.post-date Audust 23, 2015
              .article
                .thumb
                  img(src='/img/sidebar/articles/04.jpg' alt='Image')
                .desc
                  h6
                    a(href='blog-details.html') Best Wordpress Theme of 2018
                  span.post-date Audust 23, 2015
          //- .col-lg-12.col-sm-6.widget.ad-widget
          //-   img(src='/img/sidebar/ad.jpg' alt='Image')