doctype html
head
  // ====== Required meta tags ======
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // ====== Title ======
  title  Tiny Blog || #{title} 
  // ====== Favicon Icon ======
  link(rel='shortcut icon' href='/img/favicon.ico' type='img/png')
  // ====== Animate Css ======
  link(rel='stylesheet' href='/css/animate.min.css')
  // ====== Bootstrap css ======
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  // ====== Fontawesome css ======
  link(rel='stylesheet' href='/css/font-awesome.min.css')
  // ====== Magnific Popup css ======
  link(rel='stylesheet' href='/css/magnific-popup.css')
  // ====== Slick  css ======
  link(rel='stylesheet' href='/css/slick.css')
  // ====== Nice Select ======
  link(rel='stylesheet' href='/css/jquery-nice-select.min.css')
  // ====== Style css ======
  link(rel='stylesheet' href='/css/style.css')
include _header

block content
  h1 content placeholder for base

include _footer
// ====== jquery js ======
script(src='js/vendor/modernizr-3.6.0.min.js')
script(src='/js/vendor/jquery-1.12.4.min.js')
// ====== Bootstrap js ======
script(src='/js/bootstrap.min.js')
script(src='/js/popper.min.js')
// ====== Slick js ======
script(src='/js/slick.min.js')
// ====== Images Loaded ======
script(src='/js/imagesloaded.pkgd.min.js')
// ====== Isotope js ======
script(src='/js/isotope.pkgd.min.js')
// ====== Magnific Popup js ======
script(src='/js/jquery.magnific-popup.min.js')
// ====== Nice Select js ======
script(src='/js/jquery.nice-select.min.js')
// ====== Main js ======
script(src='/js/main.js')
