doctype html
html(lang="en")

  head
    // Required meta tags
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Favicon Icon
    link(rel="shortcut icon" href="assets/img/favicon.ico" type="img/png")
    // Animate Css
    link(rel="stylesheet" href="assets/css/animate.min.css")
    // Bootstrap css
    link(rel="stylesheet" href="assets/css/bootstrap.min.css")
    // Font awesome
    link(rel="stylesheet" href="assets/css/font-awesome.min.css")
    // Magnific Popup css ======-->
    link(rel="stylesheet" href="assets/css/magnific-popup.css")
    // Slick  css
    link(rel="stylesheet" href="assets/css/slick.css")
    // Nice Select ======-->
    link(rel="stylesheet" href="assets/css/jquery-nice-select.min.css")
    // Style css ======-->
    link(rel="stylesheet" href="assets/css/style.css")
    // Title ======-->
    title Tiny Blog || Home

  body
    //<!--====== Header part start ======-->
    header.sticky-header
      .container-fluid
        .d-flex.align-items-center.justify-content-between
          .site-logo
            a(href="index.html")
              img(src="assets/img/logo.png" alt="Genial")
          .header-right
            .search-area
              a.searh-btn(href="javascript:void(0)")
                i.fas.fa-search
              .search-form
                a.search-close(href="#")
                  i.fal.fa-times"
                form(action="#")
                  input(type="search" placeholder="Type here to search")
                .search-overly
            
            .shoping-cart
              a.shopping-cart-btn(href="cart.html")
                i.fas.fa-shopping-cart
                span.count 2

            .offcanvas-panel
              a.panel-btn(href="javascript:void(0)")
                span
                  span
                  span
                  span
              .panel-overly
              .offcanvas-items
                //<!-- Navbar Toggler -->
                a.panel-close(href="javascript:void(0)") Back
                 i.fa.fa-angle-right(aria-hidden="true")
                

                ul.offcanvas-menu
                  li
                    a(href="index.html") Home
                    ul.submenu
                      li
                        a(href="index.html") Home One
                  li
                    a(href="blog-details.html") Blog Single
                  li
                    a(href="about.html") About
                  li
                    a(href="photo-stories.html") Photo Stories
                  li
                    a(href="contact.html") Contact
                  li
                    a(href="404.html") 404
                  li
                    a(href="shop.html") username
                    ul.submenu
                      li
                        a(href="product-details.html") Logout
                      li
                        a(href="product-details.html") Update Password
                      li
                        a(href="product-details.html") Update Details
                      li
                        a(href="product-details.html") My Details

                .social-icons
                  ul
                    li
                    a(href="#")
                      i.fab.fa-facebook-f
                    li
                    a(href="#")
                      i.fab.fa-instagram
                    li
                    a(href="#")
                      i.fab.fa-twitter
                    li
                    a(href="#")
                      i.fab.fa-youtube
              
    //<!--====== Header part end ======-->