<% if(infoSuccessObj != '') { %>
  <div class="col-12 alert alert-success alert-dismissible fade show" role="alert">
    <%= infoSuccessObj %>
  </div>
<% } %>

<% if(infoErrorsObj != '') { %>
  <div class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
    <%= infoErrorsObj %>
  </div>
<% } %>
<span class="alert-container"></span>
<form id="loginForm">
  <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Sign In</h1>

  <div class="form-floating">
    <input type="email" class="form-control email" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control password" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-1 mb-1 text-muted">&lArr; <a href="/">Back to Tiny</a></p>
  <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
</form>