<div class="row justify-content-center">

  <%# if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%#= infoSubmitObj %>
    </div>
  <%# } %>

  <%# if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%#= infoErrorsObj[0].message %>
    </div>
  <%# } %>

  <div class="col-8">

    <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <div class="col-12">
          <label for="email" class="form-label">Title</label>
          <input type="text" name="title" id="title" class="form-control">
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label">Body</label>
          <textarea name="body" id="body" class="form-control" cols="30" rows="4"></textarea>
        </div>

        

        <div class="col-12">
          <label for="image">Post Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit Article</button>
        </div>

      </div>
    
    </form>

  </div>
</div>